Source: bluez
Maintainer: Dhruvesh B <dhruveshb@mechasystems.com>
Section: misc
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: bluez
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Firmware for Bluetooth devices
 This firmware is required for operation of Bluetooth dongles based on
 the Broadcom BCM203x  chipset. 
