[Desktop Entry]
Type=Application
Name=Mechanix Settings
Comment=Launch Mechanix Settings with custom parameters
Exec=mechanix_settings -b /usr/share/mechanix/mechanix-settings/ -s 1
Icon=preferences-system
Terminal=false
Categories=Settings;Utility;
X-Purism-FormFactor=Workstation;Mobile;
