Source: imx-sdma-firmware
Maintainer: Dhruvesh B <dhruveshb@mechasystems.com>
Section: misc
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: imx-sdma-firmware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Firmware
 This firmware is required for operation of mecha device. 
